/*** GENERAL CLASSES ***/

.clear {    
    clear: both; 
    float: none;
}
.column_narrow {
    width: 220px;
}
.column_wide {
    width: 660px;
}
.hidden {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}


/*** TYPOGRAPHY ***/

body {
    font-family: 'Lucida Grande', Arial, sans-serif;
    line-height: 1;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a.titlelink {
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

a.titlelink:hover {
    text-decoration: none;
}

h1 {
    font-size: 38px;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #ccc;
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    text-transform: uppercase;
}

h3 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    margin: 15px 0;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

div#header {
    color: #fff;
}

div#container {
    color: #eee;
}


/*** LAYOUT ***/

body {
    background: #000 url('/img/body_background.gif') repeat;
}


/*** HEADER BLOCK ***/

div#header {
    background: #000 url('/img/header_background.gif') repeat;
    height: 238px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 960px;
    -moz-box-shadow: 0px 12px 12px #000;
    -webkit-box-shadow: 0px 12px 12px #000;
    box-shadow: 0px 12px 12px #000;
}

div#header a.home {
    background: url('/img/inertia_logo_xxv.png') no-repeat;
    display: block;
    height: 208px;
    margin: 0 auto;
    position: relative;
    top: 15px;
    width: 336px;
}

div#header div.mascot {
    background: url('/img/header_mascot.png') no-repeat;
    display: block;
    height: 103px;
    left: 880px;
    position: relative;
    top: -230px;
    width: 75px;

}


/*** NAVIGATION BLOCK ***/

div#navigation {
    background: #000 url('/img/navigation_background.gif') no-repeat;
    height: 88px;
    margin: 0 auto;
    width: 960px;
    -moz-box-shadow: 0px 12px 12px #000;
    -webkit-box-shadow: 0px 12px 12px #000;
    box-shadow: 0px 12px 12px #000;
}

div#navigation ul {
    background: url('/img/navigation_ul_background.png') no-repeat;
    height: 75px;
    margin: 0 auto;
    padding: 20px 0 0 100px;
    width: 960px;
}

div#navigation ul li {
    float: left;
    list-style: none;
}

div#navigation ul li a {
    color: #000;
    display: block;
    font-family: Impact, Arial, sans-serif;
    font-size: 32px;
    padding: 2px 30px;    
    text-decoration: none;
}

div#navigation ul li a:hover {
    color: #ac4f17;
}

div#navigation ul li a.facebook {
    background: url('/img/navigation_facebook.png') no-repeat;
    height: 50px;
    margin: 0 0 0 25px;
    text-indent: 15px;
}

div#navigation ul li a.instagram {
    background: url('/img/navigation_instagram.png') no-repeat;
    height: 50px;
    margin: 0 0 0 10px;
    text-indent: 15px;
}


/*** CONTENT ***/

div#container {
    background: #010000 url('/img/container_background.gif') no-repeat;
    margin: 0 auto;
    padding: 30px 40px 40px 40px;
    width: 960px;

    -moz-box-shadow: 0px 12px 12px #000;
    -webkit-box-shadow: 0px 12px 12px #000;
    box-shadow: 0px 12px 12px #000;
}

div.content {
    background: none;
}


/*** FOOTER BLOCK ***/

div#footer {
    background-color: #010000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    color: #ccc;
    font-size: 10px;
    margin: 0 auto 300px auto;
    padding: 0 0 30px 0;
    text-align: center;
    width: 960px;
    -moz-box-shadow: 0px 12px 12px #000;
    -webkit-box-shadow: 0px 12px 12px #000;
    box-shadow: 0px 12px 12px #000;
}


/*** ADMINISTRATION PAGE ***/

div.admin_navigation {
    margin: 0 0 40px 0;
}

ul.admin_navigation {
    font-size: 13px;
}

ul.admin_navigation li {
    float: left;
}

ul.admin_navigation li.separator {
    color: #999;
    float: left;
    margin: 0 5px;
}

table.eventActions {
    border: 0;
    width: 100%;
}

table.eventActions td {
    padding: 0 !important;
}

table.eventActions td.add {
    width: 160px;
}

table.eventActions td.filter {
    vertical-align: bottom;
}

table.eventActions td.filter form {
    float: right;
}

td.date {
    width: 180px;
}

td.actions {
    width: 170px;
}


/*** BUTTONS ***/

a.button {
    border: 0;
    color: #fff
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 15px 10px 0;
    padding: 0 15px;
}


/*** FORMS ***/

input, textarea {
    background-color: none;
    color: #fff;
}

input.button {
    border: 0px;
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin: 0 20px 0 0;
    padding: 0 0 4px 30px;    
}

label {
    font-size: 20px;
}

select {
    background-color: #fff;
}

div.ck-content {
    background-color: #111 !important;
    height: 200px;
}

div.ck-content p {
    margin: 10px 0;
}


/*** WIDGETS ***/

div.search_widget {
    margin: 10px 0;
}


/*** CLASS ELEMENTS ***/

div.alertMessage {
    margin: 10px 0 20px 0;
}

div.alertMessage div.success {
    background: url('/img/icon_success.png') no-repeat;
    color: #00cc00;
    font-weight: bold;
    padding: 10px;
}

div.alertMessage div.success p.item {
    padding: 0 0 0 30px;
}


/*** TABLES ***/

th {
    background-color: #333;
    color: #ccc;
    padding: 10px !important;
    text-align: left;
    vertical-align: middle;
}

td {
    border-bottom: none;
    padding: 10px !important;
    text-align: left;
    vertical-align: middle;
}

table.index {
    margin: 20px 0;
    width: 100%;
}

table.index tr {
    border-bottom: 1px solid #aaa;
}

table.index th.date {
    width: 220px;
}
table.index th.options {
    width: 200px;
}

table.add, table.edit {
    margin: 20px 0;
    width: 100%;
}

table.add tr, table.edit tr {
    border-bottom: 1px solid #555;
}

table.add td, table.edit td {
    padding: 10px;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}


/*** EVENT CONTENT STYLES ***/

div#EventFlyerPreview {
    position: absolute;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff;
}


/*** EVENT LISTS ***/

ul.events {
}

ul.events li {
    margin: 0 0 40px 0;
}

ul.events li div.image {
    float: left;
    margin: 0 20px 0 0;
    width: 200px;
}

ul.events li div.info {
    float: left;
    width: 420px;
}

ul.events li div.info h3 {
    margin: 0 0 20px 0;
}

ul.events li div.info p {
    margin: 0 0 5px 0;
}

ul.events li div.info div.details {
    font-size: 12px;
    line-height: 16px;
    margin: 20px 0;
}

ul.history {
}

ul.history li {
    float: left;
    margin: 20px 0;
}

ul.history li div.image {
    height: 310px;
    margin: 0 20px 10px 0;
    width: 200px;
}

ul.history li div.info {
    height: 70px;
    width: 200px;
}

ul.history li div.info h3 {
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}

ul.history li div.info p {
    font-size: 12px;
    margin: 0 0 5px 0;
    text-align: center;
}


/*** EVENT VIEW ***/

div.eventView {
}

div.eventView div.buttons {
    margin: 0 0 25px 0;
}

div.eventView div.sharethis {
    padding: 0 40px 0 0;
}

div.eventView div.image {
    float: right;
    margin: 0 0 20px 20px;
}

div.eventView p {
    line-height: 18px;
    margin: 5px 0;
}

div.eventView p.date {
    font-size: 20px;
    line-height: 22px;
}

div.eventView p.time {
    font-size: 20px;
    line-height: 22px;
}

div.eventView p.city {
    font-size: 20px;
    line-height: 22px;
}

div.eventView p.venue {
    font-size: 20px;
    line-height: 22px;
}

div.eventView div.details {
    margin: 35px 0;
}

div.eventView div.moreinfo {
    margin: 25px 0;
}

div.eventView div.moreinfo p {
    line-height: 22px;
    margin: 15px 0;
}

div.eventView div.moreinfo a {
    font-weight: bold;
    text-decoration: underline;
}

div.eventView div.moreinfo a:hover {
    color: #ac4f17;
}

div.eventView div.tickets {
    margin: 10px 0;
}

div.eventView div.youtube {
    margin: 45px 0;
}